.registration-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ddd;
    z-index: 1000;
}

.registration-form form {
    width: 500px;
    margin: 200px auto;
    padding: 15px;
    background: lightgray;
    box-shadow: dimgrey 0 5px 11px;
    box-sizing: border-box;
}