.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 10px;

  .col-half-1 {
    padding: 10px;
    border: 1px solid #bccfd5;
    grid-column: 1/2;
    grid-row: 1;
  }

  .col-half-2 {
    padding: 10px;
    border: 1px solid #bccfd5;
    grid-column: 2/2;
    grid-row: 1;

    span {
      padding: 2.5em 0 2em 0;

      button {
        float: right;
        background: #dddddd;
        border: 0;
        margin-top: -2em;
        padding: .5em;
      }
    }

    .projects-list {
      list-style-type: none;
      -webkit-margin-after: 0px;
      -webkit-margin-before: 0px;
      -webkit-padding-start: 0px;

      li {
        border-bottom: 1px solid #16b4d0;
        padding: 15px;

        .link {
          text-decoration: none;
          color: cornflowerblue;
          font-weight: 400;
          &:hover {
            text-decoration: underline;
          }
        }
        small {
          float: right;

          strong {
            margin-right: 3em;
          }
        }
      }
      li:first-child {
        border-top: 1px solid #16b4d0;
      }
    }
  }
}
