.DropDown {
    &-container {
        float: left;
        display: block;
        width: 250px;
        margin-top: 20px;

        &.show {
            .dropdown-list {
                transform: scale(1, 1);
            }

        }

        button {
            background-color: white;
            height: 2em;

            .caret {
                float: right;
                margin: .2em .2em 0 0;
            }
        }


        .dropdown-list {
            float: left;
            width: 100%;
            position: relative;
            width: 100%;
            transform: scale(1, 0);

            div {
                position: absolute;
                width: 100%;
                z-index: 2;
                cursor: pointer;
                background: #dddddd;

            }
        }
    }
}

