.backlog {
    margin-right: 5px;
    padding: .2em;

    &-header {

        &-modal {

        }
    }

    .TasksList {
        list-style-type: none;
        -webkit-margin-after: 0px;
        -webkit-margin-before: 0px;
        -webkit-padding-start: 0px;
        margin-top: 1em;
        box-shadow: 1px 3px 8px #888;

        li {
            padding: .4em;
            border-bottom: 1px solid #16b4d0;
            border-left: 1px solid #16b4d0;
            border-right: 1px solid #16b4d0;
            background: #eee;
            outline: none;

            &:hover {
                background: darken(#eee, 5%);
                cursor: move;
            }

            span {
                padding: .5em;
            }

            .estimation {
                float: right;

                .badge {
                    background-color: #424242;
                    color: #B2EBF2;
                    border-radius: 2em;
                    padding: .2em .5em .2em .5em;
                }
            }

            .improvement {
                color: green;
            }
            .task {
                color: blue;
            }
            .new-feature {
                color: #00897B;
            }
            .epic {
                color: #5E35B1;
            }
            .bug {
                color: #C62828;
            }

            .major {
                color: red;
            }
            .minor {
                color: green;
            }
            .trivial {
                color: #9E9E9E;
            }
            .critical {
                color: #FF8A65;
            }
            .blocker {
                color: #BF360C;
            }

            &:first-child {
                border-top: 1px solid #16b4d0;
            }
        }

        .placeholder {
            background: rgb(255, 240, 120);

            &:before {
                content: "Drop here";
                color: rgb(225, 210, 90);
            }
        }

    }
}
