.SprintList{
    &-header {
        font-size: 1.1em;
    }

    &-modal {
        padding: .1em 2em;
    }

    &-status {
        display: block;
        margin: 1em 0;
    }

    &-list {
        margin: -.5em;

        &-item {
            display: block;
            float: left;
            width: 10em;
        }
    }

}









//ul. {
//  list-style: none;
//  -webkit-margin-after: 0px;
//  -webkit-margin-before: 0px;
//  -webkit-padding-start: 0px;
//
//
//  li{

//  }
//}
//
//.sprints-header {
//  font-weight: 400;
//  font-size: 1.6em;
//  padding: 1em 0;
//}
//
//.form-modal {
//  margin: 1em 0;
//}
//
//.project-
