.input-field {
    background: white;
    opacity: .5;
    height: 70px;
    margin: 10px;
    border-radius: 4px;
    z-index: 200;
    overflow: hidden;
    border-bottom: 1px solid darkblue;
    box-shadow: dimgrey 0px 2px 3px;
}

div.error {
    border-bottom: 2px solid red;
}

div.input-field > label {
    display: block;
    margin: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    color: black;
}

div.input-field > input {
    width: 100%;
    padding: 6px;
    margin: 0 5px;
    border: none;
    font-size: 12pt;
    box-sizing: border-box;
    outline: none;
}

div.input-field:focus-within {
    border-bottom: 3px solid deepskyblue;
}

div.input-field:focus-within > label {
    color: deepskyblue;
    font-weight: 600;
}

div.input-field > label::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

div.submit-container {
    width: 100%;
    margin: 10px;
    overflow: hidden;
}

div.submit-container > button[type="submit"] {
    margin: 10px 0;
    border: none;
    padding: 10px 60px;
    font-size: 12pt;
    background-color: deepskyblue;
    color: white;
}
